<header>


 <h1>  Hello  {{pageTitle}} </h1>

  <p> <a href="/"> Home </a> </p>
  <p> <a href="/Salbiyah"> salbiyah </a> </p>
  <p> <a href="/about"> about  </a>   </P>
  <p> <a href="/ahsan.html"> Ahsan  </a>   </P>






</header>
