<!DOCTYPE html>

<html>
<head>
<title> Help Page </title>
<meta charset="utf-8">
</head>
<body>

{{> header}}
 <p> Some Text <b> about us </b>  Here .........</p>

<p>  {{screamIt welcomeMessage}} </p>


  {{> footer}}

</body>

</html>
